*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App {
  text-align: center;
 
}
body{
  background: rgb(67,208,243);
/* background: linear-gradient(30deg, rgba(67,208,243,1) 29%, rgba(150,99,172,1) 95%); */

}